.containerm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    z-index: 0;
}

.containerm > div {
    background-color: rgba(0, 0, 0, 0.425);
    padding: 20px;
    border: 15px solid transparent;
    transition: all 0.4s ease-in;
    z-index: 0;
}

.containerm > div:hover{
    border-image-source: url(/img/plus.png);
    color: #fff;
    background-color: #00000071;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    margin-bottom: 10px;
}

#execute-command {
    font-size: 15px;
    border: 10px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 400;
    transition: 1s;
    cursor: pointer;
    margin: 0;
    transition: 0.4s ease-in;
}

#execute-command:hover{
    color: gray;
    border: 10px solid #fff;
    border-image-source: url(/img/plus.png);
}

#threat-list {
    max-height: 100px;
    overflow-y: auto;
}